@model List<TestTask.Models.ListStudentModel>
@{
    ViewBag.Title = "List Student";
}
<h2>List Student</h2>
@using (Html.BeginForm("ListStudent", "Home"))
{
    <select name="filtering">
        <option value="standart">Стандарт</option>
        <option value="Name">По имени</option>
        <option value="Up">По возрастанию</option>
        <option value="Down">По убыванию</option>
    </select>
    <input name="page" type="hidden" value="1"/>
    <input type="submit" value="Выбрать"/>
}
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>
               @(user.Name + " " + user.Surname) 
            </td>
            <td>
               @user.MiddleScores
            </td>
            <td>
              <a href="~/Home/EditStudent/@user.UserId">Edit</a>
            </td>
        </tr>
        }
    
</table>
<ul class="pagination">
    @for (int i = 1; i <= ViewBag.CountPage; i++)
    {
        <li><a href="~/Home/ListStudent/@ViewBag.TypeSort/@i">@i</a></li>
    }
</ul>
